.header {
  padding-bottom: 2em;
}

.top {
  display: flex;
  align-items: center;
  padding: 1.2em 0;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: hsla(0, 0%, 100%, 0.95);
  z-index: 10;
  display: flex;
  padding: 1.2em 1.25em;
}

.button-box {
  margin-left: auto;
  display: flex;
  column-gap: 1.2em;
}

.cart,
.login {
  font: var(--text-normal-default);
  border-radius: .5em;
  padding: .5em 1em;
}

.cart:hover,
.login:hover {
  background: var(--primary-200);
}

.cart svg,
.login svg {
  width: 100%;
  max-width: 1.5em;
  margin-left: .5em;
}

.cart svg {
  margin-left: 0;
  margin-right: .5em;
}
.bottom {
  padding-top: 4.5em;
}
.nav {
  border-bottom: 1px solid var(--theme-divider);
  padding-bottom: .8em;
}

.nav a {
  padding: .5em 1em;
}

.nav a:hover {
  color: var(--secondary-800);
}